<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>Event Booking page - Welcome and choose an Event</title>
        <style type="text/css">
            body {
                width: 800px;
                margin: auto;
            }
        </style>
    </head>
    <body>
    <header>
        <h1>Welcome to our Event Booking App</h1>
    </header>
    <main>
        <form th:method="GET" th:action="@{/events}">
            <h2>Search events:</h2>
            <label for="search">Enter a key word: </label><input id="search" type="text" name="search">
            <br/>
            <label for="rating">Enter minimum rating: </label><input id="rating" type="text" name="rating">
            <br/>
            <label>Choose a location: </label>
            <select name="location" class="form-control">
                <option th:each="location : ${locations}"
                        th:value="${location.getId()}"
                        th:text="${location.getName()}">
                </option>
            </select>
            <br/>
            <input type="submit" value="Submit">
        </form>
        <form th:method="GET" th:action="@{/eventBooking/reserve}">
            <h2>Choose an event:</h2>
            <!-- Display radio buttons for each event,
            the value should be the event name
            and the displayed text should be Name: <event_name>, Description: <event_description>, Rating: <popularity_score> -->

            <div th:each="event : ${events}">
                <input type="radio" th:value="${event.getName()}" name="eventName" required/>
                <span>
                    Name: <span th:text="${event.getName()}"></span>,
                    Description: <span th:text="${event.getDescription()}"></span>,
                    Rating: <span th:text="${event.getPopularityScore()}"></span>,
                    Location: <span th:text="${event.getLocation().getName()}"></span>,
                    Category: <span th:text="${event.getCategory().getName()}"></span>
                </span>
                <a th:href="@{'/events/edit-form/{id}' (id=${event.getId()})}">Edit</a>
                <a th:href="@{'/events/delete/{id}' (id=${event.getId()})}">Delete</a>
<!--                <form th:method="GET" th:action="@{'/events/delete/{id}' (id=${event.getId()})}">-->
<!--                    <button type="submit" value="Delete"></button>-->
<!--                </form>-->
                <br/>
            </div>
            <div th:if="${hasError}">
                <p th:text="${error}"></p>
            </div>

            <h2>Enter your name:</h2>
            <label for="userName"></label>
            <input id="userName" name="userName" type="text" required>

                <h2>Choose number of tickets:</h2>
                <input id="numTickets" type="number" name="numTickets" min="1" max="10" required><br/>
                <br/>
                <input type="submit" value="Submit">
            </form>
<!--            <form th:method="POST" th:action="@{/events/add}">-->
<!--                <h2>Add an event:</h2>-->
<!--                <label for="name">Name: </label>-->
<!--                <input type="text" id="name" name="name"><br/>-->
<!--                <label for="description">Description: </label>-->
<!--                <input type="text" id="description" name="description"><br/>-->
<!--                <label for="popularityScore">Rating: </label>-->
<!--                <input type="text" id="popularityScore" name="popularityScore"><br/>-->
<!--                <label for="location">Choose location: </label>-->
<!--                <select id="location" name="location">-->
<!--                    <option th:each="location : ${locations}" th:value="${location.getId()}" th:text="${location.getName()}"></option>-->
<!--                </select>-->
<!--                <input type="submit" value="Submit">-->
            <a href="/events/add-form">Add an event</a>
            <a href="/categories/add-form">Add a category</a>
            </form>
        </main>
        </body>
    </html>